*{
    box-sizing: border-box;
}

body{
    background-color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    background-color: #fff;
    width: 30%;
    margin: auto;
    padding: 20px 50px;
}

.content{
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */

}

svg{
    height: 24px;
    width: 24px;
    margin-bottom: 8px;
}

h1{
    font-size: 24px;
    margin-bottom: 16px;
}

p{
    text-transform: uppercase;
    font-weight: bold;
}

input{
    margin-top: 0;
    margin-bottom: 16px;

    /* content: ''; */
    display: block;
    width: 304px;
    height: 56px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.1);
}

.social{
    margin-top: 20px;

    align-self: stretch;

    background-color: green;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 70px;
    align-items: center;
    justify-items: space-between;
    padding: 0 20px;

    text-decoration: none;
    color: #000;
    border-radius: 3px;
}

.terms{
    margin-top: 20px;

    text-transform: none;
    text-align: center;
    font-weight: normal;
}